<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>自定义登录表单</title>
</head>
<body>
	<form action="/login" method="post">
		<p>
			用户：<input id="username" name="username" type="text" value="" />
		</p>
		<p>
			密码：<input id="password" name="password" type="password" value="" />
		</p>
		<p>
			记住我：<input id="remember-me" name="remember-me" type="checkbox">
		</p>
		<p>
			<input type="submit" value="登录">
		</p>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
</body>
</html>